.nav {
  background: #040c18;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: transparent;
  position: relative;
  z-index: 1;

  .nav-center {
    width: 90vw;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      font-size: 1rem;
      padding: 0.25rem 0.75rem;
      border-radius: var(--radius);
      border-color: transparent;
      color: white;
      background: #222;
      cursor: pointer;
      transition: all 0.3s linear;

      &:hover {
        background: hsl(210, 22%, 49%);
      }
    }

    .nav-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .nav-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;

    li {
      height: 100%;
    }

    .link-btn {
      height: 100%;
      background: transparent;
      border-color: transparent;
      font-size: 1.1rem;
      color: white;
      text-transform: capitalize;
      letter-spacing: 1px;
      width: 10rem;
    }
  }
}
