.nav {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;

  .nav-center {
    width: 90vw;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      font-size: 1rem;
      padding: 0.25rem 0.75rem;
      border-radius: var(--radius);
      border-color: transparent;
      color: white;
      background: #222;
      cursor: pointer;
      transition: all 0.3s linear;

      &:hover {
        background: hsl(210, 22%, 49%);
      }
    }

    .nav-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .nav-links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .link-btn {
      background: transparent;
      border-color: transparent;
      font-size: 1.1rem;
      color: white;
      text-transform: capitalize;
      letter-spacing: 1px;
      padding: 10px 40px;

      li {
        height: 100%;
      }

      &:hover {
        color: hsl(210, 22%, 49%);
      }
    }
  }
}
