.nav {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;

  .navbar-gradient {
    position: absolute;
    width: 50%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .nav-center {
    width: 90vw;
    height: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      font-size: 1rem;
      padding: 0.25rem 0.75rem;
      border-radius: var(--radius);
      border-color: transparent;
      color: white;
      background: #222;
      cursor: pointer;
      transition: all 0.3s linear;

      &:hover {
        background: hsl(210, 22%, 49%);
      }
    }

    .nav-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 99;
    }
  }

  .nav-links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

    .link-btn {
      background: transparent;
      border-color: transparent;
      font-family: 'Eudoxus Sans';
      font-size: 1.1rem;
      color: white;
      text-transform: capitalize;
      letter-spacing: 1px;
      padding: 10px 20px;

      li {
        height: 100%;
      }

      &:hover {
        background: linear-gradient(270deg, #00dbd8, #b133ff);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
