@import '../../styles/styles.scss';

/* links */
.submenu {
  margin-top: 5px;
  background: hsl(209, 61%, 16%);
  position: absolute;
  top: 6rem;
  left: 50%;
  display: none;
  transform: translateX(-50%);
  z-index: 3;
  transition: all 0.3s linear;
  height: 420px;
  width: 50%;
  border-radius: 10px;
  border: 5px solid hsl(209, 61%, 16%);

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid hsl(210, 22%, 90%);
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
  }

  h4 {
    margin-bottom: 1.5rem;
  }

  .submenu-center {
    width: 100%;
    display: grid;
    gap: 0.25rem 2rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px 30px;
    justify-content: space-evenly;
    background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
    border-radius: 5px;

    .link-wrapper {
      display: flex;
      align-items: center;
      // opacity: 0;

      .link-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-transform: capitalize;
        color: hsl(209, 61%, 16%);

        .icon {
          font-size: 20px;
          margin: 0 0 0 10px;
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          p {
            color: $borderColor;
          }

          .icon {
            opacity: 1;
          }
        }

        .link-arrow {
          display: flex;
          align-items: center;

          h4 {
            margin: 0;
            font-size: 18px;
            font-weight: 500;
          }
        }

        p {
          margin: 0;
          color: $lightNav;
        }
      }

      svg {
        font-size: 2.5rem;
        color: hsl(209, 61%, 16%);
        margin-right: 20px;
      }
    }
  }
}

.show {
  display: flex;
}

.test {
  background-color: red;
  opacity: 1;
}

.blue {
  background-color: blue;
  opacity: 1;
}
