@import '../styles/styles.scss';

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 64px;

  .footer {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

    .footer-links {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 1rem;

      .footer-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

        h2 {
          font-size: 14px;
          text-transform: uppercase;
          line-height: 1.5rem;
          font-weight: 500;
          color: $footerColor;
        }

        .list-links {
          display: flex;
          flex-direction: column;

          li {
            margin-top: 10px;
            cursor: pointer;
            color: #afbacf;
            transition: color 0.2s ease-in-out;
            font-size: 18px;
            font-weight: 300;

            &:hover {
              color: #c9d0dd;
            }
          }
        }
      }
    }

    .footer-bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .footer-company {
        margin-top: 40px;
        display: flex;
        align-items: center;

        h1 {
          margin: 0;
        }

        p {
          margin: 0;
          margin-left: 32px;
        }
      }

      .footer-media {
        margin-top: 40px;
        display: flex;
        align-items: center;
      }
    }
  }
}
