.chat_page {
  width: 100vw;
  height: calc(100vh - 95.99px);
  background: linear-gradient(
    103.22deg,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .header {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-family: 'Barlow Condensed';

    h4 {
      color: white;
      transition: all 0.3s linear;
      font-size: 20px;
      letter-spacing: 0.4rem;
    }

    .line {
      width: 5vw;
      height: 3px;
      background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
      transition: all 0.3s linear;
    }

    .online {
      width: 55vw;
      height: 3px;
      background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
      transition: all 0.5s linear;
    }
  }

  .chat_container {
    flex: 1;
    width: 80%;
    height: 100%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */

    -ms-overflow-style: none;
    scrollbar-width: none;

    padding-bottom: 10px;
    scroll-behavior: smooth;
  }
}
