.newlocker_page {
  width: 100vw;
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;

  .creation_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .newlocker_image {
      width: 130px;
      height: 130px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .newlocker_form {
    background-image: url('/images/l2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex: 1;
    margin: 50px;
    padding-left: 30px;
    height: calc(100% - 72px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    input {
      width: 45%;
      height: 50px;
      background: #040c18;
      border: none;
      border-radius: 5px;
      outline: none;
      color: white;
      font-family: 'Nunito';
      font-size: 22px;

      &:hover::placeholder {
        color: rgba(173, 255, 47, 0.6);
      }

      &::placeholder {
        font-size: 17px;
        color: rgba(173, 255, 47, 0.4);
        letter-spacing: 0.3rem;
      }
    }

    .form-select {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 45%;

      select {
        height: 40px;
        outline: none;
        border: none;
        background-color: #040c18;
        border-radius: 5px;
        font-size: 17px;
        color: rgba(173, 255, 47, 0.4);
        letter-spacing: 0.3rem;
        font-family: 'Nunito';

        &:hover {
          color: rgba(173, 255, 47, 0.6);
        }
      }

      label {
        color: #040c18;
        background: linear-gradient(210deg, #040c18, rgba(173, 255, 47, 0.7));
        font-size: 17px;
        font-family: 'Nunito';
        letter-spacing: 0.3rem;
        cursor: pointer;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 45%;
        height: 40px;
        border-radius: 5px;

        &:hover {
          color: rgba(173, 255, 47, 1);
        }
      }

      .upload-icon {
        font-size: 28px;
      }

      input[type='file'] {
        display: none;
      }
    }

    .submit-btn {
      width: 45%;

      button {
        width: 100%;
        font-size: 20px;
        padding: 12px 40px;
        cursor: pointer;
        border-radius: 5px;
        background: linear-gradient(210deg, #040c18, rgba(173, 255, 47, 0.9));

        &:hover {
          background: linear-gradient(360deg, #040c18, rgba(173, 255, 47, 1));
        }
      }
    }
  }
}
