.preview_form-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.top-header {
  bottom: auto;
  top: 10%;
  margin: 0 0 0 30px;
}

.bottom-header {
  bottom: auto;
  top: 20%;
  margin: 0 0 0 30px;
}
