@import '../../styles/styles.scss';

.home {
  height: calc(100vh - 6rem);
  position: relative;
}

.about {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: #040c18;
  position: relative;
  padding: 64px;

  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    .school-title {
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 600;
      letter-spacing: 0.5rem;
    }

    p {
      font-family: 'Eudoxus Sans';
      font-weight: 300;
      font-size: 32px;
      line-height: 120%;
      margin: 0;
    }
  }

  .home-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #040c18;
    margin-top: 30px;

    .scroll-title {
      margin: 0 50px;
    }

    span {
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.explore {
  position: relative;
  padding: 64px;

  .explore-content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    .cards_container {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      min-height: 70vh;
      gap: 1.25rem;
    }
  }
}

.get-started {
  position: relative;
  z-index: 10;
  padding: 64px;

  .get-started_content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .get-started_image-container {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;

      img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        border-radius: 20%;
      }
    }

    .get-started_content-features {
      flex: 0.75;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .get-started_wrapper {
        margin-top: 31px;
        display: flex;
        flex-direction: column;
        max-width: 370px;
        gap: 24px;
      }
    }
  }
}
