.locker_menu-list {
  position: absolute;
  bottom: -10px;
  left: 0;
  max-width: 1280px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 12px 32px;
  background: linear-gradient(80.97deg, #ae67fa 1.84%, #f49867 102.67%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  color: #040c18;
  font-family: 'Eudoxus Sans';
  font-weight: 500;
  font-size: 18px;

  .menu_list {
    cursor: pointer;

    &:hover {
      color: lightgray;
    }
  }

  .active-menu_list {
    color: white;
  }
}

.locker-menu_active {
  opacity: 1;
  transform: translateY(50px);
}
