html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #0f1624;
  color: #c9d1d9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gradient_text {
  background: linear-gradient(270deg, #00dbd8, #b133ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_private {
  background: linear-gradient(270deg, #cc0303, #10204d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_preview {
  background: linear-gradient(360deg, #040c18, rgba(173, 255, 47, 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* resizable css */
.react-resizable-handle {
  display: block;
  background-color: #30363d;

  background-repeat: no-repeat;
  background-position: 50%;
}

.react-resizable-handle-s {
  margin: auto;
  height: 10px;
  width: calc(100% - 40px);
  cursor: row-resize;
  background-image: url('/images/hdots.jpg');
  background-size: 50px;
}

.react-resizable-handle-e {
  width: 10px;
  min-width: 10px;
  height: 100%;
  cursor: col-resize;
  background-image: url('/images/vdots.jpg');
  background-size: 50px;
}

.resize-horizontal {
  display: flex;
  flex-direction: row;
}

.react-draggable-transparent-selection iframe {
  pointer-events: none;
}

/* loader */
.dynamic-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

/* Chat GPT3 CSS */

.chat_wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #040c18;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.chat_profile {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .chat_profile {
  background: radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    #042c54 85%,
    #1b78de 100%
  );
}

.ai .chat_message {
  color: #ae67fa;
}

.chat_profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.chat_message {
  flex: 1;
  color: white;
  font-size: 20px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat_message::-webkit-scrollbar {
  display: none;
}
