html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #0f1624;
  color: #c9d1d9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gradient_text {
  background: linear-gradient(270deg, #00dbd8, #b133ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.react-resizable-handle {
  display: block;
  background-color: #30363d;

  background-repeat: no-repeat;
  background-position: 50%;
}

.react-resizable-handle-s {
  margin: auto;
  height: 10px;
  width: calc(100% - 40px);
  cursor: row-resize;
  background-image: url('/images/hdots.jpg');
  background-size: 50px;
}

.react-resizable-handle-e {
  width: 10px;
  min-width: 10px;
  height: 100%;
  cursor: col-resize;
  background-image: url('/images/vdots.jpg');
  background-size: 50px;
}

.resize-horizontal {
  display: flex;
  flex-direction: row;
}

.react-draggable-transparent-selection iframe {
  pointer-events: none;
}

.dynamic-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
