@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700&family=Bellefair&family=Barlow:wght@200;300;400;500;600;700&display=swap';

// dark mode
$navColor: #161b22;
$sidebarColor: #21262d;
$mainColor: #0d1117;
$logoColor: #58a6ff;
$textColor: #c9d1d9;
$shadowColor: #21262d;
$borderColor: #30363d;
$background: #0f1624;
$formBackground: #182339;
$footerColor: #6c7993;
$boxShadow: rgba(0, 0, 0, 0.2);
$transition: all 0.3s linear;
$whiteColor: hsl(0 0% 100%);
$orangeColor: #fa8231;

// light mode
$lightNav: #ced6e0;
$lightMain: #0d1117;
$lightSidebar: #dfe4ea;
