// dark mode
$navColor: #161b22;
$sidebarColor: #21262d;
$mainColor: #0d1117;
$logoColor: #58a6ff;
$textColor: #c9d1d9;
$shadowColor: #21262d;
$borderColor: #30363d;
$background: #0f1624;
$formBackground: #182339;
$footerColor: #6c7993;
$boxShadow: rgba(0, 0, 0, 0.2);
$transition: all 0.3s linear;
$whiteColor: hsl(0 0% 100%);

// light mode
$lightNav: #ced6e0;
$lightMain: #0d1117;
$lightSidebar: #dfe4ea;
