@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&family=Roboto&family=Roboto+Condensed:wght@400;700&family=Source+Sans+Pro:wght@300;400&display=swap');

// dark mode
$navColor: #161b22;
$sidebarColor: #21262d;
$mainColor: #0d1117;
$logoColor: #58a6ff;
$textColor: #c9d1d9;
$shadowColor: #21262d;
$borderColor: #30363d;
$background: #0f1624;
$formBackground: #182339;
$footerColor: #6c7993;
$boxShadow: rgba(0, 0, 0, 0.2);
$transition: all 0.3s linear;
$whiteColor: hsl(0 0% 100%);
$orangeColor: #fa8231;

// light mode
$lightNav: #ced6e0;
$lightMain: #0d1117;
$lightSidebar: #dfe4ea;
